<h2><%= @chef.name %> </h2>


<%= link_to "Click Here to See Rob's Ingredients", chef_ingredients_path(@chef)  %>

<h3> <%= @chef.name %>'s Top Ingredients: </h3>
<div class="popular-ingredients">
  <ol> <% @chef.top_ingredients.each do |ingredient| %>
    <li> <%= ingredient.name %> |<i> used <%= ingredient.count %> times </i></li>
    <% end %> </ol>
</div>
